<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="/js/index.js"></script>
    <title>Sample3</title>
</head>
<body>
    <h1>Test</h1>

    <div id="thread"></div>
</body>
</html>