<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="/js/index.js"></script>
    <title>Sample3</title>
</head>
<body>
    <h1>Test</h1>

    <a href="/test_setting_game?uid=hoge">クエリ送信（ユーザーID）</a>

    <a href="/test_unity_build">Unityモードテスト</a>
    <!-- <a href="/test_unity_build">Unityモードテスト2</a> -->
</body>
</html>