<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
    <title>Sample3</title>
</head>
<body>
    <h1>Test</h1>
    <input type="button" value="メッセージを入力する" onclick="sendTest();">
    <div id="thread"></div>
</body>
</html>